.icon-small {
  height: 0.8em;
}

.icon-medium {
  height: 1.4em;
}

.icon-large {
  height: 1.7em;
}

.flexible-icon {
  height: 1.8em;
}

.svg-grey {
  fill: grey;
}

.icon-branding {
  height: 5em;
  margin-bottom: 2em;
}
